{# base.html #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>John Lalor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-route.js"></script>
        
        <script src="{{  bootstraptpls  }}"></script>
        <script src="{{  controller  }}"></script>
        <link rel="stylesheet" href="{{ style }}">
    </head>
    <body >
    	    	
    	<div ng-app="gutenrecsApp" ng-controller="MyController">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>