{# gutenrecs.html #}
{% extends "base.html" %}
{% block body %}

<h2>Gutenrecs: Book recommendations for Project Gutenberg</h2>
<div>
	<p>
		<a href="/">Home</a>
	</p>
	<p>
		Enter the file name you'd like recommendations for, and we'll find you some similar books. 
	</p>
	<p>
		Gutenrecs is still a work in progress. There are currently 5000 books for which you can get recommendations. If your search returns no results, try another! We are adding more books shortly.
	</p>
	<p>
	A short writeup for the project, including technologies used, can be found <a href="{{ writeup }}">here</a>.
	</p>
		<!--<p>
		Use <a href="http://www.gutenberg.org/dirs/GUTINDEX.ALL">this link</a> to get the ebook number for the book you are looking for. (Most books with first digit of '1' are included in index)
		</p>-->

	<form action="searchbook">
        Book file name: <input type="text" ng-model="bookchoice" typeahead="book.id as book.title for book in getBooks($viewValue)" typeahead-editable="true" typeahead-on-select="searchBook()"/>
        <br />
        
        <br />
        <input type="submit" value="Get Recommendations">
    </form>

    <div>
	<br />
    	A few suggestions:
    	<ul>
    		<li>
    			A Kindergarten Story Book by Jane L. Hoxie - 14127
    		</li>
    		<li>
    			The Merry Adventures of Robin Hood by Howard Pyle - 10148
    		</li>
    		<li>
    			Bible Stories and Religious Classics by Philip P. Wells - 10380
    		</li>
    		<li>
    			A General History and Collection of Voyages and Travels — Volume 09 by Robert Kerr - 13055
    		</li>
    		<li>
    			Great Expectations by Charles Dickens - 1400
    		</li>
    	</ul>
    </div>
</div>

{% block results %}
{% endblock %}

{% endblock %}