{# index.html #}
{% extends "base.html" %}
{% block body %}

<h2>John Lalor</h2>
<p>
I'm a <a href="http://www.ezesoft.com">software developer</a> living in Chicago, and I am also working on a Master's Degree in Computer Science at <a href="http://www.cdm.depaul.edu/Pages/default.aspx">DePaul University</a>. 
</p>
<p>
	<h4>Some Projects I've worked on</h4>
	<ul style="list-style-type:none;">
	<li>
	<a href="https://chrome.google.com/webstore/detail/goodreads-right-click/fbicpmopjallgdpklipffmihodimmcbe?utm_source=chrome-ntp-icon">Goodreads Right Click: A Chrome Extension for Searching on Goodreads</a>
	</li>
	<li>
	<a href="/gutenrecs">GutenRecs: Book recommendations for Project Gutenberg</a>
	</li>
	<li>
	<a href="{{ network_writeup }}">An Analysis of Major League Baseball as a Social Network</a>
	</li>
	</ul>
</p>
<p>
If you want to get in touch, my email address is jlalor123 at gmail dot com
</p>
<p>
You can also find me on <a href="www.linkedin.com/in/jlalor/">Linkedin</a> or <a href="https://twitter.com/lalorjp">Twitter</a>.
</p>

{% endblock %}
