{# index.html #}
{% extends "base.html" %}
{% block body %}

   
    <form action="searchbook">
        Book file name: <input type="text" label="Book file number" name="search" />
        <br />
        
        <br />
        <input type="submit" value="Get Recommendations">
    </form>

    <div>
	<br />
    	A few suggestions:
    	<ul>
    		<li>
    			A Kindergarten Story Book by Jane L. Hoxie - 14127
    		</li>
    		<li>
    			The Merry Adventures of Robin Hood by Howard Pyle - 10148
    		</li>
    		<li>
    			Bible Stories and Religious Classics by Philip P. Wells - 10380
    		</li>
    		<li>
    			A General History and Collection of Voyages and Travels — Volume 09 by Robert Kerr - 13055
    		</li>
    		<li>
    			Great Expectations by Charles Dickens - 1400
    		</li>
    	</ul>
    </div>

{% endblock %}
