{# index.html #}
{% extends "base.html" %}
{% block body %}

<h2>John Lalor</h2>
<p>
I'm a <a href="http://www.ezesoft.com">software developer</a> living in Chicago, and I am also pursuing a Master's Degree in Computer Science at <a href="http://www.cdm.depaul.edu/Pages/default.aspx">DePaul University</a>. 
</p>
<p>
	<a href="/gutenrecs">GutenRecs: Book recommendations for Project Gutenberg</a>
</p>
<p>
If you want to get in touch, my email address is jlalor123 at gmail dot com
</p>
<p>
You can also find me on <a href="www.linkedin.com/in/jlalor/">Linkedin</a> or <a href="https://twitter.com/lalorjp">Twitter</a>.
</p>

{% endblock %}
